<center>

  <h1>{{title}}</h1>
  <a href="/"> <b>Add Lead</b></a>
  <p>View Leads</p>

  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Company</th>
        <th>Email</th>
        <th>LinkedIn URL</th>
        <th>Last Contact</th>
        <th>ID</th>
      </tr>
      {{#each data}}
      <tr>
        {{#eachProperty this}}
        <td>{{value}}</td>
        {{/eachProperty}}
        <td>
          <details>
            <summary>Actions</summary>
            <p>
              <a href="/leads/{{this.id}}">View</a>
              <br>
              <a href="/leads/updateDate/{{this.id}}">Update Last Contact</a>
              <br>
              <a href="/leads/delete/{{this.id}}">Delete</a>
            </p>
          </details>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
</center>